.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

main {
  flex: 1 1;
}

button {
  .lds-ellipsis div{
    top: 10px!important;
  }
}

.nav-link {
  color: #565e64 !important;

  &.router-link-exact-active {
    color: #212529!important;
  }
}

.nav-link {
}